/**
 * @name temin_bonitin
 * @author lhandhio
 * @version 1
 * @description tema do mizuki
 */

:root{
     --background: url('https://i.pinimg.com/736x/ce/69/eb/ce69eb7408e80aaca7090f113129e92f.jpg');
     --activetext-colour: white;
 
     --primary1-colour: rgb(0, 229, 255);       /* Verde-ciano principal (brilhante) */
     --primary2-colour: rgba(0, 179, 204, 0.5); /* Tom médio com 50% de transparência */
     --primary3-colour: rgba(0, 242, 255, 0.6); /* Tom mais neon com 60% de transparência */
     --primary4-colour: rgba(0, 128, 153, 0.4); /* Tom mais escuro com 40% de transparência */
 
     --secondary1-colour: rgba(50,50,50,0.3);
     --secondary2-colour: rgba(100,100,100,0.5);
     --secondary3-colour: rgba(0,0,0,0.6);
     --secondary4-colour: rgba(0,0,0,0.3);

}
